USE [API_Kinhmat]
GO
/****** Object:  Table [dbo].[Danhmuc]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--HUY

CREATE TABLE [dbo].[Danhmuc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[danhmuc] [nvarchar](50) NULL,
	[mota] [nvarchar](50) NULL,
 CONSTRAINT [PK_Danhmuc] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donhang]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Nguoidung](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[pass] [varchar](50) NULL,
	[ten] [nvarchar](50) NULL,
	[sdt] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[role] [nvarchar](50) NULL,
	[trangthai] [int] NULL,
 CONSTRAINT [PK_Nguoidung] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Kinhmat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NULL,
	[soluong] [int] NULL,
	[madanhmuc] [int] NULL,
	[giaban] [int] NULL,
	[gianhap] [int] NULL,
	[gioithieu] [nvarchar](50) NULL,
	[xuatxu] [nvarchar](50) NULL,
	[chatlieu] [nvarchar](50) NULL,
	[kieudang] [nvarchar](50) NULL,
	[mota] [nvarchar](50) NULL,
	[anh] [nvarchar](50) NULL,
	[trangthai] [int] NULL,
 CONSTRAINT [PK_Kinhmat] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[Donhang](
	[mahd] [int] IDENTITY(1,1) NOT NULL,
	[iduser] [int] NULL,
	[ten] [nvarchar](50) NULL,
	[sdt] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[diachi] [nvarchar](50) NULL,
	[ghichu] [nvarchar](200) NULL,
	[thoigian] [datetime] NULL,
	[tongtien] [int] NULL,
	[trangthai] [nvarchar](50) NULL,
 CONSTRAINT [PK_Donhang] PRIMARY KEY CLUSTERED 
(
	[mahd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonhangChitiet]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonhangChitiet](
	[macthd] [int] IDENTITY(1,1) NOT NULL,
	[mahd] [int] NULL,
	[masp] [int] NULL,
	[soluong] [int] NULL,
	[giaban] [int] NULL,
 CONSTRAINT [PK_DonhangChitiet] PRIMARY KEY CLUSTERED 
(
	[macthd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kinhmat]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  Table [dbo].[Nguoidung]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  Table [dbo].[Nhacungcap]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhacungcap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenncc] [nvarchar](50) NULL,
	[sdt] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[diachi] [nvarchar](50) NULL,
	[trangthai] [int] NULL,
 CONSTRAINT [PK_Nhacungcap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thanhtoan]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thanhtoan](
	[mathanhtoan] [int] IDENTITY(1,1) NOT NULL,
	[mahd] [int] NULL,
	[phuongthucthanhtoan] [int] NULL,
	[ngaythanhtoan] [datetime] NULL,
	[tongtien] [int] NULL,
	[trangthai] [int] NULL,
 CONSTRAINT [PK_Thanhtoan] PRIMARY KEY CLUSTERED 
(
	[mathanhtoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thongtinvanchuyen]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thongtinvanchuyen](
	[mavandon] [nvarchar](50) NOT NULL,
	[mahd] [int] NULL,
	[donvivanchuyen] [nvarchar](50) NULL,
	[ngaygiao] [datetime] NULL,
	[ngaynhan] [datetime] NULL,
	[trangthai] [nvarchar](50) NULL,
 CONSTRAINT [PK_Thongtinvanchuyen] PRIMARY KEY CLUSTERED 
(
	[mavandon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO



--HUY
SET IDENTITY_INSERT [dbo].[Danhmuc] ON 

INSERT [dbo].[Danhmuc] ([id], [danhmuc], [mota]) VALUES (1, N'Gọng kính', N'ko có')
INSERT [dbo].[Danhmuc] ([id], [danhmuc], [mota]) VALUES (2, N'Kính râm', N'string')
INSERT [dbo].[Danhmuc] ([id], [danhmuc], [mota]) VALUES (1003, N'Tròng kính', N'string')
SET IDENTITY_INSERT [dbo].[Danhmuc] OFF
GO

SET IDENTITY_INSERT [dbo].[Nguoidung] ON 

INSERT [dbo].[Nguoidung] ([id], [username], [pass], [ten], [sdt], [email], [role], [trangthai]) VALUES (1, N'admin', N'123', N'Huy', N'0357209702', N'huyha', N'Admin', 1)
INSERT [dbo].[Nguoidung] ([id], [username], [pass], [ten], [sdt], [email], [role], [trangthai]) VALUES (2, N'huy', N'123', N'huy vũ', N'0357209702', N'huyha2212@gmail.com', N'user', 1)
INSERT [dbo].[Nguoidung] ([id], [username], [pass], [ten], [sdt], [email], [role], [trangthai]) VALUES (3, N'huy1', N'123', N'string', N'string', N'string', N'user', 1)
SET IDENTITY_INSERT [dbo].[Nguoidung] OFF
GO

SET IDENTITY_INSERT [dbo].[Kinhmat] ON 

INSERT [dbo].[Kinhmat] ([id], [ten], [soluong], [madanhmuc], [giaban], [gianhap], [gioithieu], [xuatxu], [chatlieu], [kieudang], [mota], [anh], [trangthai]) VALUES (2, N'Kính cận kim loại cao cấp', 10, 1, 250000, 200000, N'Sản phẩm mới', N'Việt Nam', N'Kim loại', N'Vuông', N'demo', N'product9.jpg', 1)
INSERT [dbo].[Kinhmat] ([id], [ten], [soluong], [madanhmuc], [giaban], [gianhap], [gioithieu], [xuatxu], [chatlieu], [kieudang], [mota], [anh], [trangthai]) VALUES (4, N'Gọng kính nhựa tròn c1', 9, 1, 250000, 200000, N'Sản phẩm mới', N'string', N'Nhựa', N'Tròn', N'string', N'product2.jpg', 1)
INSERT [dbo].[Kinhmat] ([id], [ten], [soluong], [madanhmuc], [giaban], [gianhap], [gioithieu], [xuatxu], [chatlieu], [kieudang], [mota], [anh], [trangthai]) VALUES (5, N'KÍNH RÂM MẮT VUÔNG THỜI TRANG DESON 18185', 10, 2, 350000, 270000, N'Sản phẩm mới', N'string', N'string', N'string', N'string', N'kinhram3.jpg', 1)
SET IDENTITY_INSERT [dbo].[Kinhmat] OFF
GO

SET IDENTITY_INSERT [dbo].[Donhang] ON 

INSERT [dbo].[Donhang] ([mahd], [iduser], [ten], [sdt], [email], [diachi], [ghichu], [thoigian], [tongtien], [trangthai]) VALUES (17, 2, N'Vũ Tiến Huy', N'033414', N'huyha2212@gmail.com', N'thái bình', N'a', CAST(N'2025-01-13T00:00:00.000' AS DateTime), 250000, N'Hoàn thành')
INSERT [dbo].[Donhang] ([mahd], [iduser], [ten], [sdt], [email], [diachi], [ghichu], [thoigian], [tongtien], [trangthai]) VALUES (18, 2, N'Vũ Tiến Huy', N'033414', N'huyha2212@gmail.com', N'thái bình', N'qqq', CAST(N'2025-02-01T00:00:00.000' AS DateTime), 850000, N'Hoàn thành')
INSERT [dbo].[Donhang] ([mahd], [iduser], [ten], [sdt], [email], [diachi], [ghichu], [thoigian], [tongtien], [trangthai]) VALUES (19, 3, N'Huy', N'03572', N'noithatkashivietnam@gmail,com', N'tb', N'111', CAST(N'2025-01-13T00:00:00.000' AS DateTime), 350000, N'Hoàn thành')
SET IDENTITY_INSERT [dbo].[Donhang] OFF
GO
SET IDENTITY_INSERT [dbo].[DonhangChitiet] ON 

INSERT [dbo].[DonhangChitiet] ([macthd], [mahd], [masp], [soluong], [giaban]) VALUES (26, 17, 2, 1, 250000)
INSERT [dbo].[DonhangChitiet] ([macthd], [mahd], [masp], [soluong], [giaban]) VALUES (27, 18, 2, 2, 250000)
INSERT [dbo].[DonhangChitiet] ([macthd], [mahd], [masp], [soluong], [giaban]) VALUES (28, 18, 12, 1, 350000)
SET IDENTITY_INSERT [dbo].[DonhangChitiet] OFF
GO


SET IDENTITY_INSERT [dbo].[Nhacungcap] ON 

INSERT [dbo].[Nhacungcap] ([id], [tenncc], [sdt], [email], [diachi], [trangthai]) VALUES (1, N'Công ty TNHH Anna', N'0357209702', N'huyha2212', N'Hà Nội', 1)
INSERT [dbo].[Nhacungcap] ([id], [tenncc], [sdt], [email], [diachi], [trangthai]) VALUES (2, N'Công ty TNHH', N'0585283059', N'havu2122', N'Hồ chí minh', 1)
SET IDENTITY_INSERT [dbo].[Nhacungcap] OFF
GO
INSERT [dbo].[Thongtinvanchuyen] ([mavandon], [mahd], [donvivanchuyen], [ngaygiao], [ngaynhan], [trangthai]) VALUES (N'dfêfêf', 29, N'spx', CAST(N'2025-05-31T00:00:00.000' AS DateTime), CAST(N'2025-05-31T00:00:00.000' AS DateTime), N'Đang giao')
INSERT [dbo].[Thongtinvanchuyen] ([mavandon], [mahd], [donvivanchuyen], [ngaygiao], [ngaynhan], [trangthai]) VALUES (N'SPX02021424', 43, N'SPX', CAST(N'2025-06-07T00:00:00.000' AS DateTime), CAST(N'2025-06-07T15:01:13.443' AS DateTime), N'Hoàn thành')
INSERT [dbo].[Thongtinvanchuyen] ([mavandon], [mahd], [donvivanchuyen], [ngaygiao], [ngaynhan], [trangthai]) VALUES (N'SPX04858464', 27, N'Shoppe Express', CAST(N'2025-05-28T00:00:00.000' AS DateTime), CAST(N'2025-05-28T00:00:00.000' AS DateTime), N'Đang giao')
GO

--HUY

ALTER TABLE [dbo].[Donhang]  WITH CHECK ADD  CONSTRAINT [FK_Donhang_Nguoidung] FOREIGN KEY([iduser])
REFERENCES [dbo].[Nguoidung] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Donhang] CHECK CONSTRAINT [FK_Donhang_Nguoidung]
GO
ALTER TABLE [dbo].[DonhangChitiet]  WITH CHECK ADD  CONSTRAINT [FK_DonhangChitiet_Donhang] FOREIGN KEY([mahd])
REFERENCES [dbo].[Donhang] ([mahd])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonhangChitiet] CHECK CONSTRAINT [FK_DonhangChitiet_Donhang]
GO
ALTER TABLE [dbo].[DonhangChitiet]  WITH CHECK ADD  CONSTRAINT [FK_DonhangChitiet_Kinhmat] FOREIGN KEY([masp])
REFERENCES [dbo].[Kinhmat] ([id])
GO
ALTER TABLE [dbo].[DonhangChitiet] CHECK CONSTRAINT [FK_DonhangChitiet_Kinhmat]
GO
ALTER TABLE [dbo].[Kinhmat]  WITH CHECK ADD  CONSTRAINT [FK_Kinhmat_Danhmuc] FOREIGN KEY([madanhmuc])
REFERENCES [dbo].[Danhmuc] ([id])
GO
ALTER TABLE [dbo].[Kinhmat] CHECK CONSTRAINT [FK_Kinhmat_Danhmuc]
GO
ALTER TABLE [dbo].[Thanhtoan]  WITH CHECK ADD  CONSTRAINT [FK_Thanhtoan_Donhang] FOREIGN KEY([mahd])
REFERENCES [dbo].[Donhang] ([mahd])
GO
ALTER TABLE [dbo].[Thanhtoan] CHECK CONSTRAINT [FK_Thanhtoan_Donhang]
GO
ALTER TABLE [dbo].[Thongtinvanchuyen]  WITH CHECK ADD  CONSTRAINT [FK_Thongtinvanchuyen_Donhang] FOREIGN KEY([mahd])
REFERENCES [dbo].[Donhang] ([mahd])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Thongtinvanchuyen] CHECK CONSTRAINT [FK_Thongtinvanchuyen_Donhang]
GO
/****** Object:  StoredProcedure [dbo].[sp_danhmuc_create]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--PROC HUY
create   proc [dbo].[sp_danhmuc_create]
(@danhmuc nvarchar(50),
@mota nvarchar(50))
as
begin
	insert into Danhmuc 
	values(@danhmuc,@mota)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_danhmuc_delete]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_danhmuc_delete]
    @id INT
AS
BEGIN
    DELETE FROM Danhmuc
    WHERE [id] = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_danhmuc_search]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_danhmuc_search](@danhmuc nvarchar(50))
AS
BEGIN
	select id,danhmuc,mota from Danhmuc
	where danhmuc like N'%'+@danhmuc+'%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_danhmuc_select_all]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_danhmuc_select_all]
AS
BEGIN
    SELECT [id], [danhmuc], [mota]
    FROM Danhmuc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_danhmuc_select_by_id]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_danhmuc_select_by_id]
    @id INT
AS
BEGIN
    SELECT [id], [danhmuc], [mota]
    FROM Danhmuc
    WHERE [id] = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_danhmuc_update]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_danhmuc_update]
    @id INT,
    @danhmuc NVARCHAR(50),
    @mota NVARCHAR(50)
AS
BEGIN
    UPDATE Danhmuc
    SET 
        [danhmuc] = @danhmuc,
        [mota] = @mota
    WHERE [id] = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_demopageGetALl_SanPham]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_demopageGetALl_SanPham]
    @page_number INT,
    @page_size INT
AS
BEGIN
    SET NOCOUNT ON;
	declare @tongtrang INT = (SELECT COUNT(*) AS total_records FROM Kinhmat);
    -- Tính toán offset dựa trên số trang và kích thước trang
    DECLARE @offset INT = (@page_number - 1) * @page_size;

    -- Truy vấn với phân trang
    SELECT k.[id], [ten], [soluong], d.[danhmuc],[giaban],[gianhap], [gioithieu],
        [xuatxu], [chatlieu], [kieudang], k.[mota], [anh], [trangthai]
    FROM Kinhmat k
	inner join Danhmuc d on d.id=k.madanhmuc
    ORDER BY id DESC
    OFFSET @offset ROWS FETCH NEXT @page_size ROWS ONLY;

    -- Truy vấn số lượng bản ghi tổng
    
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_doanhthu_by_year]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_doanhthu_by_year](@year int)
as
begin

SELECT  
	MONTH(hd.thoigian) AS thang,   
	SUM(hd.tongtien) AS doanhthu_thang
    FROM Donhang hd
    WHERE YEAR(hd.thoigian) = 2025
    GROUP BY MONTH(hd.thoigian)

end
GO
/****** Object:  StoredProcedure [dbo].[sp_donhang_filter]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     proc [dbo].[sp_donhang_filter]
(
	@trangthai nvarchar(50),
	@page_number INT,
    @page_size INT
)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @offset INT = (@page_number - 1) * @page_size;

select d.mahd,d.iduser,d.ten,d.sdt,d.email,d.diachi,d.ghichu,d.thoigian,d.tongtien,d.trangthai,
	(
		 select c.macthd,c.mahd,c.masp,k.ten,k.anh,c.soluong,c.giaban from DonhangChitiet c,Kinhmat k

		 where d.mahd=c.mahd and k.id=c.masp
		 FOR JSON PATH
	)as listjson_chitiet
	
from Donhang d
where d.trangthai = @trangthai
ORDER BY d.thoigian DESC
OFFSET @offset ROWS FETCH NEXT @page_size ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_donhang_filter_advanced]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_donhang_filter_advanced]
(
    @keyword NVARCHAR(100) = NULL,      -- Tìm kiếm theo tên, sđt, email
    @trangthai NVARCHAR(50) = NULL,     -- Lọc trạng thái đơn hàng
    @page_number INT = 1,               -- Trang hiện tại
    @page_size INT = 10                 -- Số dòng mỗi trang
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @offset INT = (@page_number - 1) * @page_size;

    SELECT 
        d.mahd, d.iduser, d.ten, d.sdt, d.email, d.diachi, d.ghichu,
        d.thoigian, d.tongtien, d.trangthai,
        ISNULL(json_ct.listjson_chitiet, '[]') AS listjson_chitiet
    FROM Donhang d
    OUTER APPLY (
        SELECT 
            c.macthd, c.mahd, c.masp, k.ten AS tensp, k.anh, c.soluong, c.giaban
        FROM DonhangChitiet c
        JOIN Kinhmat k ON k.id = c.masp
        WHERE c.mahd = d.mahd
        FOR JSON PATH
    ) AS json_ct(listjson_chitiet)
    WHERE 
        (@keyword IS NULL OR 
            d.ten LIKE N'%' + @keyword + '%' OR 
            d.sdt LIKE '%' + @keyword + '%' OR 
            d.email LIKE '%' + @keyword + '%'
        )
        AND (@trangthai IS NULL OR d.trangthai = @trangthai)
    ORDER BY d.thoigian DESC
    OFFSET @offset ROWS FETCH NEXT @page_size ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_donhang_filter_advanced_count]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_donhang_filter_advanced_count]
(
    @keyword NVARCHAR(100) = NULL,
    @trangthai NVARCHAR(50) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*) AS TotalRows
    FROM Donhang d
    WHERE 
        (@keyword IS NULL OR 
            d.ten LIKE N'%' + @keyword + '%' OR 
            d.sdt LIKE '%' + @keyword + '%' OR 
            d.email LIKE '%' + @keyword + '%'
        )
        AND (@trangthai IS NULL OR d.trangthai = @trangthai);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_donhang_getall]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   proc [dbo].[sp_donhang_getall]
(
	@page_number INT,
    @page_size INT
)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @offset INT = (@page_number - 1) * @page_size;

select d.mahd,d.iduser,d.ten,d.sdt,d.email,d.diachi,d.ghichu,d.thoigian,d.tongtien,d.trangthai,
	(
		 select c.macthd,c.mahd,c.masp,k.ten,k.anh,c.soluong,c.giaban from DonhangChitiet c,Kinhmat k

		 where d.mahd=c.mahd and k.id=c.masp
		 FOR JSON PATH
	)as listjson_chitiet
	
from Donhang d
ORDER BY d.thoigian DESC
OFFSET @offset ROWS FETCH NEXT @page_size ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_donhang_getbyid]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_donhang_getbyid] (@mahd int)
as
begin

select d.mahd,d.iduser,d.ten,d.sdt,d.email,d.diachi,d.ghichu,d.thoigian,d.tongtien,d.trangthai,
	(
		 select c.macthd,c.mahd,c.masp,k.ten,k.anh,c.soluong,c.giaban from DonhangChitiet c,Kinhmat k

		 where d.mahd=c.mahd and k.id=c.masp
		 FOR JSON PATH
	)as listjson_chitiet
	
from Donhang d where d.mahd=@mahd
end
GO
/****** Object:  StoredProcedure [dbo].[sp_donhang_insert]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_donhang_insert]
    @iduser INT,
    @ten NVARCHAR(50),
    @sdt NVARCHAR(50),
    @email NVARCHAR(50),
    @diachi NVARCHAR(50),
    @ghichu NVARCHAR(200),
    @thoigian DATETIME,
    @Data NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra dữ liệu JSON
    IF NOT EXISTS (SELECT 1 FROM OPENJSON(@Data))
    BEGIN
        SELECT -1 AS ErrorCode, N'Dữ liệu chi tiết đơn hàng không hợp lệ.' AS ErrorMessage;
        RETURN;
    END

    -- Chèn dữ liệu vào bảng Donhang với trangthai mặc định là "Chờ xác nhận"
    INSERT INTO [dbo].[Donhang] (
        [iduser],
        [ten],
        [sdt],
        [email],
        [diachi],
        [ghichu],
        [thoigian],
        [tongtien],
        [trangthai]
    )
    VALUES (
        @iduser,
        @ten,
        @sdt,
        @email,
        @diachi,
        @ghichu,
        @thoigian,
        0, -- Tổng tiền sẽ được cập nhật sau
        N'Chờ xác nhận'
    );

    -- Lấy mã đơn hàng vừa chèn
    DECLARE @mahd INT = SCOPE_IDENTITY();

    -- Chèn dữ liệu vào bảng DonhangChitiet
    INSERT INTO [dbo].[DonhangChitiet] ([mahd], [masp], [soluong], [giaban])
    SELECT @mahd, masp, soluong, giaban
    FROM OPENJSON(@Data)
    WITH (
        masp INT,
        soluong INT,
        giaban INT
    );

    -- Cập nhật tổng tiền trong bảng Donhang
    UPDATE [dbo].[Donhang]
    SET [tongtien] = (
        SELECT SUM(soluong * giaban)
        FROM [dbo].[DonhangChitiet]
        WHERE [mahd] = @mahd
    )
    WHERE [mahd] = @mahd;

    -- Trả về thành công
    SELECT 1 AS ErrorCode, N'Thêm đơn hàng thành công.' AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_donhang_update_hoanhthanh]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   proc [dbo].[sp_donhang_update_hoanhthanh] (@mavandon nvarchar(50))
as
	Update Thongtinvanchuyen 
	SET ngaynhan=GETDATE() ,trangthai =N'Hoàn thành'
	where mavandon=@mavandon
GO
/****** Object:  StoredProcedure [dbo].[sp_donhang_update_trangthai]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_donhang_update_trangthai]
(
	@trangthai nvarchar(50),
	@mahd int
)as
begin
	UPDATE Donhang
	SET trangthai =@trangthai
	where mahd=@mahd

end
GO
/****** Object:  StoredProcedure [dbo].[sp_kinhmat_create]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_kinhmat_create]
    @ten NVARCHAR(50),
    @soluong INT,
    @madanhmuc INT,
	@giaban INT,
	@gianhap INT,
    @gioithieu NVARCHAR(50),
    @xuatxu NVARCHAR(50),
    @chatlieu NVARCHAR(50),
    @kieudang NVARCHAR(50),
    @mota NVARCHAR(50),
    @anh NVARCHAR(50),
    @trangthai INT
AS
BEGIN
    INSERT INTO Kinhmat (
        [ten], [soluong], [madanhmuc],[giaban],[gianhap], [gioithieu], [xuatxu],
        [chatlieu], [kieudang], [mota], [anh], [trangthai]
    )
    VALUES (
        @ten, @soluong, @madanhmuc,@giaban,@gianhap, @gioithieu, @xuatxu,
        @chatlieu, @kieudang, @mota, @anh, @trangthai
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_kinhmat_delete]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_kinhmat_delete]
    @id INT
AS
BEGIN
    DELETE FROM Kinhmat
    WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_kinhmat_search]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_kinhmat_search] 
(
	@kinhmat nvarchar(50),
	@page_number INT,
    @page_size INT
)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @offset INT = (@page_number - 1) * @page_size;
	SELECT 
			k.[id], [ten], [soluong], d.[danhmuc],[giaban],[gianhap], [gioithieu],
			[xuatxu], [chatlieu], [kieudang], k.[mota], [anh], [trangthai]
		FROM Kinhmat k
		inner join Danhmuc d on d.id=k.madanhmuc
		WHERE ten like N'%'+@kinhmat+'%'
	ORDER BY id DESC
    OFFSET @offset ROWS FETCH NEXT @page_size ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_kinhmat_select_all]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_kinhmat_select_all]
AS
BEGIN
    SELECT 
        k.[id], [ten], [soluong], d.[danhmuc],[giaban],[gianhap], [gioithieu],
        [xuatxu], [chatlieu], [kieudang], k.[mota], [anh], [trangthai]
    FROM Kinhmat k
	inner join Danhmuc d on d.id=k.madanhmuc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_kinhmat_select_by_id]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_kinhmat_select_by_id]
    @id INT
AS
BEGIN
    SELECT 
        [id], [ten], [soluong], [madanhmuc],[giaban],[gianhap], [gioithieu],
        [xuatxu], [chatlieu], [kieudang], [mota], [anh], [trangthai]
    FROM Kinhmat
    WHERE [id] = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_kinhmat_update]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_kinhmat_update]
    @id INT,
    @ten NVARCHAR(50),
    @soluong INT,
    @madanhmuc INT,
	@giaban INT,
	@gianhap INT,
    @gioithieu NVARCHAR(50),
    @xuatxu NVARCHAR(50),
    @chatlieu NVARCHAR(50),
    @kieudang NVARCHAR(50),
    @mota NVARCHAR(50),
    @anh NVARCHAR(50),
    @trangthai INT
AS
BEGIN
    UPDATE Kinhmat
    SET 
        [ten] = @ten,
        [soluong] = @soluong,
        [madanhmuc] = @madanhmuc,
		[giaban]=@giaban,
		[gianhap]=@gianhap,
        [gioithieu] = @gioithieu,
        [xuatxu] = @xuatxu,
        [chatlieu] = @chatlieu,
        [kieudang] = @kieudang,
        [mota] = @mota,
        [anh] = @anh,
        [trangthai] = @trangthai
    WHERE [id] = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_kinhmatsku_create]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_kinhmatsku_create]
    @masp INT,
    @soluong INT,
    @gianhap INT,
    @giaban INT,
    @mausac NVARCHAR(50),
    @anh NVARCHAR(50),
    @trangthai INT
AS
BEGIN
    INSERT INTO KinhmatSKU (
        [masp], [soluong], [gianhap], [giaban], [mausac], [anh], [trangthai]
    )
    VALUES (
        @masp, @soluong, @gianhap, @giaban, @mausac, @anh, @trangthai
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_kinhmatsku_delete]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_kinhmatsku_delete]
    @idSKU INT
AS
BEGIN
    DELETE FROM KinhmatSKU
    WHERE [idSKU] = @idSKU
END
GO
/****** Object:  StoredProcedure [dbo].[sp_kinhmatsku_select_all]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_kinhmatsku_select_all]
AS
BEGIN
    SELECT 
        [idSKU], [masp], [soluong], [gianhap], [giaban],
        [mausac], [anh], [trangthai]
    FROM KinhmatSKU
END
GO
/****** Object:  StoredProcedure [dbo].[sp_kinhmatsku_select_by_id]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_kinhmatsku_select_by_id]
    @idSKU INT
AS
BEGIN
    SELECT 
        [idSKU], [masp], [soluong], [gianhap], [giaban],
        [mausac], [anh], [trangthai]
    FROM KinhmatSKU
    WHERE [idSKU] = @idSKU
END
GO
/****** Object:  StoredProcedure [dbo].[sp_kinhmatsku_update]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_kinhmatsku_update]
    @idSKU INT,
    @masp INT,
    @soluong INT,
    @gianhap INT,
    @giaban INT,
    @mausac NVARCHAR(50),
    @anh NVARCHAR(50),
    @trangthai INT
AS
BEGIN
    UPDATE KinhmatSKU
    SET 
        [masp] = @masp,
        [soluong] = @soluong,
        [gianhap] = @gianhap,
        [giaban] = @giaban,
        [mausac] = @mausac,
        [anh] = @anh,
        [trangthai] = @trangthai
    WHERE [idSKU] = @idSKU
END
GO
/****** Object:  StoredProcedure [dbo].[sp_login]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   proc [dbo].[sp_login] (
	@username nvarchar(50),
	@pass varchar(50)
)
as
BEGIN
	select id,username,pass,ten,sdt,email,role,trangthai
	from Nguoidung where 
	username=@username and 
	pass=@pass
	and trangthai=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_loinhuan_by_year]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_loinhuan_by_year](@year int)
as
begin

SELECT  
            MONTH(h.thoigian) AS thang,
            SUM(c.soluong * c.giaban) - SUM(c.soluong * s.gianhap) AS loinhuan_thang
        FROM Kinhmat s
        INNER JOIN DonhangChitiet c ON c.masp = s.id
        INNER JOIN Donhang h ON h.mahd = c.mahd
        WHERE YEAR(h.thoigian) = @year
        GROUP BY MONTH(h.thoigian)

end
GO
/****** Object:  StoredProcedure [dbo].[sp_nguoidung_create]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_nguoidung_create]
    @username VARCHAR(50),
    @pass VARCHAR(50),
    @ten NVARCHAR(50),
    @sdt NVARCHAR(50),
    @email NVARCHAR(50),
    @role NVARCHAR(50),
    @trangthai INT
AS
BEGIN
    INSERT INTO Nguoidung (
        [username], [pass], [ten], [sdt], [email], [role], [trangthai]
    )
    VALUES (
        @username, @pass, @ten, @sdt, @email, @role, @trangthai
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_nguoidung_Update]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[sp_nguoidung_Update]
	@id int,
    @role NVARCHAR(50),
    @state INT
AS
BEGIN
    UPDATE Nguoidung
    SET 
        role = @role,
        trangthai = @state
    WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_nhacungcap_create]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_nhacungcap_create]
    @tenncc NVARCHAR(50),
    @sdt NVARCHAR(15),
    @email NVARCHAR(50),
    @diachi NVARCHAR(100),
    @trangthai INT
AS
BEGIN
    INSERT INTO Nhacungcap (
        [tenncc], [sdt], [email], [diachi], [trangthai]
    )
    VALUES (
        @tenncc, @sdt, @email, @diachi, @trangthai
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_nhacungcap_delete]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_nhacungcap_delete]
    @id INT
AS
BEGIN
    DELETE FROM Nhacungcap
    WHERE [id] = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_nhacungcap_select_all]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_nhacungcap_select_all]
AS
BEGIN
    SELECT 
        [id], [tenncc], [sdt], [email], [diachi], [trangthai]
    FROM Nhacungcap
END
GO
/****** Object:  StoredProcedure [dbo].[sp_nhacungcap_select_by_id]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_nhacungcap_select_by_id]
    @id INT
AS
BEGIN
    SELECT 
        [id], [tenncc], [sdt], [email], [diachi], [trangthai]
    FROM Nhacungcap
    WHERE [id] = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_nhacungcap_update]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_nhacungcap_update]
    @id INT,
    @tenncc NVARCHAR(50),
    @sdt NVARCHAR(15),
    @email NVARCHAR(50),
    @diachi NVARCHAR(100),
    @trangthai INT
AS
BEGIN
    UPDATE Nhacungcap
    SET 
        [tenncc] = @tenncc,
        [sdt] = @sdt,
        [email] = @email,
        [diachi] = @diachi,
        [trangthai] = @trangthai
    WHERE [id] = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_doanhthu_today]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_thongke_doanhthu_today]
AS
BEGIN
    SELECT 
        -- Tổng doanh thu hôm nay (nếu không có thì là 0)
        ISNULL((
            SELECT SUM(tongtien)
            FROM Donhang d
            JOIN Thongtinvanchuyen vc ON vc.mahd = d.mahd
            WHERE CONVERT(DATE, vc.ngaynhan) = CONVERT(DATE, GETDATE()) 
              AND vc.trangthai = N'Hoàn Thành'
        ), 0) AS doanhthu,

        -- Số đơn hàng hôm nay
        ISNULL((
            SELECT COUNT(mahd)
            FROM Donhang
            WHERE CONVERT(DATE, thoigian) = CONVERT(DATE, GETDATE())
        ), 0) AS donhang,

        -- Số sản phẩm bán ra hôm nay
        ISNULL((
            SELECT SUM(c.soluong)
            FROM DonhangChitiet c
            JOIN Donhang d ON d.mahd = c.mahd
            JOIN Thongtinvanchuyen vc ON vc.mahd = d.mahd
            WHERE CONVERT(DATE, vc.ngaynhan) = CONVERT(DATE, GETDATE())
              AND vc.trangthai = N'Hoàn Thành'
        ), 0) AS kinhmat
END
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_month_doanhthu]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[sp_thongke_month_doanhthu]
	@month int,
	@year int
as
begin

	select (

	SELECT SUM(tongtien) AS tong_doanhthu 
			FROM Donhang h
			WHERE MONTH(h.thoigian)=@month and 
	YEAR(h.thoigian)=@year ) as doanhthu,

		(
		SELECT 
            SUM(hdct.giaban * hdct.soluong) - SUM(spct.gianhap * hdct.soluong) AS tong_loinhuan
        FROM Donhang hd
        JOIN DonhangChitiet hdct ON hd.mahd = hdct.mahd
        JOIN Kinhmat spct ON hdct.masp = spct.id
        WHERE MONTH(hd.thoigian)=@month and 
		YEAR(hd.thoigian)=@year )
		as loinhuan

end
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_month_kinhmat]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create    proc [dbo].[sp_thongke_month_kinhmat]
	@month int,
	@year int
as
begin
	select c.masp,Kinhmat.ten,sum(c.soluong) as sl 
	from Kinhmat,DonhangChitiet c,Donhang h
	where Kinhmat.id=c.masp and 
	c.mahd=h.mahd and 
	MONTH(h.thoigian)=@month and 
	YEAR(h.thoigian)=@year
	group by masp,Kinhmat.ten
end
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_soluong_donhang_byyear]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_thongke_soluong_donhang_byyear]
    @year INT  -- năm cần thống kê
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        MONTH(thoigian) AS thang,
        COUNT(*) AS soluong
    FROM Donhang
    WHERE YEAR(thoigian) = @year
      AND trangthai =N'Hoàn thành'  -- loại bỏ đơn bị huỷ
    GROUP BY MONTH(thoigian)
    ORDER BY thang;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_tongquan]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[sp_thongke_tongquan]
 AS
 BEGIN
SELECT 
        ISNULL((
            SELECT count(d.mahd)
            FROM Donhang d
            
            WHERE d.trangthai=N'Chờ xác nhận'
            
        ), 0) AS donhang,

        ISNULL((
            SELECT COUNT(id)
            FROM Kinhmat
            
        ), 0) AS kinhmat,

        ISNULL((
            SELECT Count(id)
            FROM Danhmuc
        ), 0) AS danhmuc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_top5product_banchay2]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_thongke_top5product_banchay2]
(
    @type NVARCHAR(10), -- 'today', 'week', 'month', 'year', 'specific'
    @month INT = NULL,  -- dùng khi @type = 'specific'
    @year INT = NULL    -- dùng khi @type = 'specific'
)
AS
BEGIN
    SELECT TOP(5)
        k.ten,
        SUM(c.soluong) AS sl
    FROM 
        DonhangChitiet c
        INNER JOIN Donhang h ON h.mahd = c.mahd
        INNER JOIN Kinhmat k ON c.masp = k.id
    WHERE 
        (
            (@type = 'today' AND CONVERT(DATE, h.thoigian) = CONVERT(DATE, GETDATE()))
            OR
            (@type = 'week' AND DATEPART(ISO_WEEK, h.thoigian) = DATEPART(ISO_WEEK, GETDATE())
                           AND YEAR(h.thoigian) = YEAR(GETDATE()))
            OR
            (@type = 'month' AND MONTH(h.thoigian) = MONTH(GETDATE())
                            AND YEAR(h.thoigian) = YEAR(GETDATE()))
            OR
            (@type = 'year' AND YEAR(h.thoigian) = YEAR(GETDATE()))
            OR
            (@type = 'specific' AND MONTH(h.thoigian) = @month AND YEAR(h.thoigian) = @year)
        )
    GROUP BY 
        k.ten
    ORDER BY 
        sl DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_top5product_itduocmua]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_thongke_top5product_itduocmua]
(
    @type NVARCHAR(10), -- 'today', 'week', 'month', 'year', 'specific'
    @month INT = NULL,  -- dùng khi @type = 'specific'
    @year INT = NULL    -- dùng khi @type = 'specific'
)
AS
BEGIN
    SELECT TOP(5)
        k.ten,
        SUM(c.soluong) AS sl
    FROM 
        DonhangChitiet c
        INNER JOIN Donhang h ON h.mahd = c.mahd
        INNER JOIN Kinhmat k ON c.masp = k.id
    WHERE 
        (
            (@type = 'today' AND CONVERT(DATE, h.thoigian) = CONVERT(DATE, GETDATE()))
            OR
            (@type = 'week' AND DATEPART(ISO_WEEK, h.thoigian) = DATEPART(ISO_WEEK, GETDATE())
                           AND YEAR(h.thoigian) = YEAR(GETDATE()))
            OR
            (@type = 'month' AND MONTH(h.thoigian) = MONTH(GETDATE())
                            AND YEAR(h.thoigian) = YEAR(GETDATE()))
            OR
            (@type = 'year' AND YEAR(h.thoigian) = YEAR(GETDATE()))
            OR
            (@type = 'specific' AND MONTH(h.thoigian) = @month AND YEAR(h.thoigian) = @year)
        )
    GROUP BY 
        k.ten
    ORDER BY 
        sl ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_year]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_thongke_year]
    @year INT
AS
BEGIN
    -- Doanh thu theo tháng
    WITH DoanhThuThang AS (
        SELECT  
            MONTH(hd.thoigian) AS thang,   
            SUM(hd.tongtien) AS doanhthu_thang
        FROM Donhang hd
        WHERE YEAR(hd.thoigian) = @year
        GROUP BY MONTH(hd.thoigian)
    ),
    
    -- Lợi nhuận theo tháng
    LoiNhuanThang AS (
        SELECT  
            MONTH(h.thoigian) AS thang,
            SUM(c.soluong * c.giaban) - SUM(c.soluong * s.gianhap) AS loinhuan_thang
        FROM Kinhmat s
        INNER JOIN DonhangChitiet c ON c.masp = s.id
        INNER JOIN Donhang h ON h.mahd = c.mahd
        WHERE YEAR(h.thoigian) = @year
        GROUP BY MONTH(h.thoigian)
    ),
    
    -- Tổng doanh thu
    TongDoanhThu AS (
        SELECT SUM(tongtien) AS tong_doanhthu 
        FROM Donhang
        WHERE YEAR(thoigian) = @year
    ),
    
    -- Tổng lợi nhuận
    TongLoiNhuan AS (
        SELECT 
            SUM(hdct.giaban * hdct.soluong) - SUM(spct.gianhap * hdct.soluong) AS tong_loinhuan
        FROM Donhang hd
        JOIN DonhangChitiet hdct ON hd.mahd = hdct.mahd
        JOIN Kinhmat spct ON hdct.masp = spct.id
        WHERE YEAR(hd.thoigian) = @year
    )
    
    -- Trả về dữ liệu dạng JSON
    SELECT 
        (SELECT * FROM DoanhThuThang FOR JSON AUTO) AS bddoanhthu,
        (SELECT * FROM LoiNhuanThang FOR JSON AUTO) AS bdloinhuan,
        (SELECT * FROM TongDoanhThu) AS tongdoanhthu,
        (SELECT * FROM TongLoiNhuan) AS tongloinhuan;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_thongtinvanchuyen_create]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_thongtinvanchuyen_create]
    @mavandon NVARCHAR(50),
    @mahd INT,
    @donvivanchuyen NVARCHAR(50),
    @ngaygiao DATETIME,
    @ngaynhan DATETIME,
    @trangthai NVARCHAR(50)
AS
BEGIN
    INSERT INTO Thongtinvanchuyen (
        [mavandon], [mahd], [donvivanchuyen], [ngaygiao], [ngaynhan], [trangthai]
    )
    VALUES (
        @mavandon, @mahd, @donvivanchuyen, @ngaygiao, @ngaynhan, @trangthai
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_thongtinvanchuyen_select_by_mahd]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_thongtinvanchuyen_select_by_mahd]
    @mahd int
AS
BEGIN
    SELECT 
        [mavandon], [mahd], [donvivanchuyen], [ngaygiao], [ngaynhan], [trangthai]
    FROM Thongtinvanchuyen
    WHERE [mahd] = @mahd
END
GO
/****** Object:  StoredProcedure [dbo].[sp_u_change_password]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_u_change_password] 
(
	@password nvarchar(50),
	@id int
)
AS
BEGIN
	Update Nguoidung set pass =@password
	Where id =@id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_u_donhang_getbyid]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_u_donhang_getbyid] (@id int)
AS
BEGIN
select d.mahd,d.iduser,d.ten,d.sdt,d.email,d.diachi,d.ghichu,d.thoigian,d.tongtien,d.trangthai,
	(
		 select c.macthd,c.mahd,c.masp,k.ten,k.anh,c.soluong,c.giaban from DonhangChitiet c,Kinhmat k

		 where d.mahd=c.mahd and k.id=c.masp
		 FOR JSON PATH
	)as listjson_chitiet
	
from Donhang d where d.iduser=@id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_u_kinhmat_gioithieu]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_u_kinhmat_gioithieu] (@gioithieu nvarchar(50))
as
SELECT 
        [id], [ten],[giaban], [gioithieu], [anh], [trangthai]
    FROM Kinhmat where gioithieu =@gioithieu
GO
/****** Object:  StoredProcedure [dbo].[sp_u_kinhmat_search]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_u_kinhmat_search]
(	@ten nvarchar(50),
	@page_number INT,
    @page_size INT
)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @offset INT = (@page_number - 1) * @page_size;
	SELECT 
			k.[id], [ten], [soluong], [madanhmuc],[giaban],[gianhap], [gioithieu],
			[xuatxu], [chatlieu], [kieudang], k.[mota], [anh], [trangthai]
		FROM Kinhmat k
		where ten like N'%'+@ten+'%'
	ORDER BY id DESC
    OFFSET @offset ROWS FETCH NEXT @page_size ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_u_kinhmatdanhmuc]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_u_kinhmatdanhmuc] 
(
	@madanhmuc int,
	@page_number int,
	@page_size int
)
as
BEGIN
	SET NOCOUNT ON;
	DECLARE @offset INT = (@page_number - 1) * @page_size;

	SELECT 
        [id], [ten],[giaban], [gioithieu], [anh], [trangthai]
    FROM Kinhmat where madanhmuc=@madanhmuc
	ORDER BY id DESC
    OFFSET @offset ROWS FETCH NEXT @page_size ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_u_LocKinhMat]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_u_LocKinhMat]
    @ChatlieuList NVARCHAR(MAX) = NULL,
    @KieudangList NVARCHAR(MAX) = NULL
AS
BEGIN
    SELECT DISTINCT k.id,k.ten,k.giaban,k.anh,k.gioithieu,k.trangthai
    FROM Kinhmat k
    WHERE 
        (
            @ChatlieuList IS NULL 
            OR EXISTS (
                SELECT 1 
                FROM STRING_SPLIT(@ChatlieuList, ',') AS cl 
                WHERE LTRIM(RTRIM(cl.value)) = k.chatlieu
            )
        )
        AND
        (
            @KieudangList IS NULL 
            OR EXISTS (
                SELECT 1 
                FROM STRING_SPLIT(@KieudangList, ',') AS kd 
                WHERE LTRIM(RTRIM(kd.value)) = k.kieudang
            )
        )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_u_nguoidung_Update]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_u_nguoidung_Update]
	@id int,
    @ten NVARCHAR(50),
    @sdt NVARCHAR(50),
    @email NVARCHAR(50)
AS
BEGIN
    UPDATE Nguoidung
    SET 
        ten = @ten,
        sdt = @sdt,
		email=@email
    WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_u_profile_byid]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROC [dbo].[sp_u_profile_byid] (@id int)
AS
BEGIN
	select id,username,pass,ten,sdt,email,trangthai from Nguoidung
	where id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_u_total_product_category]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_u_total_product_category] (@danhmuc nvarchar(50))
as
select danhmuc,d.id ,COUNT(k.id) as sl from Danhmuc d
inner join Kinhmat k 
on k.madanhmuc = d.id
where d.danhmuc=@danhmuc
group by danhmuc,d.id
GO
/****** Object:  StoredProcedure [dbo].[sp_u_total_product_category_id]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[sp_u_total_product_category_id] (@danhmuc int)
as
select COUNT(k.madanhmuc) as sl from Kinhmat k 

where k.madanhmuc=@danhmuc
GO
/****** Object:  StoredProcedure [dbo].[sp_u_total_search]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[sp_u_total_search]
 @ten nvarchar(50)
 as
select COUNT(*) as total from Kinhmat where ten like N'%'+@ten+'%'
GO
/****** Object:  StoredProcedure [dbo].[sp_user_getall]    Script Date: 24/09/2025 4:39:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     proc [dbo].[sp_user_getall]
(
	@page_number INT,
    @page_size INT
)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @offset INT = (@page_number - 1) * @page_size;

select u.id,u.username,u.ten,u.sdt,u.role,u.trangthai
	
from Nguoidung u
ORDER BY u.id ASC
OFFSET @offset ROWS FETCH NEXT @page_size ROWS ONLY;
END
GO
